body {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Roboto;
}

.homepage {
  position: relative;
  min-height: 80vh;
  min-width: 50vw;
  background: var(--container-color);
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.final-container {
  display: flex;
  justify-content: space-between;
  background: var(--container-color);
}

.final-child {
  background: var(--container-color);
}

.home-heading {
  text-align: center;
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
  background: var(--container-color);
  color: var(--black);
}

.set {
  background: var(--container-color);
}

.home-container {
  margin-right: auto;
  margin-left: auto;
  background: var(--container-color);
}

.final-rate {
  font-size: 44px;
  line-height: 52px;
  color: var(--black);
  background: var(--container-color);
  vertical-align: middle;
}

.final-child-btn {
  margin-top: 16px;
  background: var(--container-color);
}

.solid-line {
  border-top: 1px solid #bbb;
}

.review-list {
  background-color: #ffffff;
}

.sub-heading {
  background-color: #ffffff;
  color: var(--black);
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
}

span {
  background-color: #ffffff;
  text-align: center;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  background-color: #ffffff;

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
  vertical-align: middle;
}

.Stars::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    var(--star-background) var(--percent),
    var(--star-color) var(--percent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

strong {
  background-color: #ffffff;
}

.review-text > span {
  margin-left: 5px;
  font-size: 18px;
  vertical-align: middle;
}
