body {
  font-family: Roboto;
  background: #e5e5e5;
}

.rating-overlay {
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  background: var(--container-color);
}

.actual-rating {
  position: absolute;
  width: 680px;
  height: 650px;
  background: var(--container-color);
  border-radius: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  background: var(--container-color);
  position: absolute;
  width: auto;
  height: 409px;
  left: 102px;
}

.rating-heading {
  background: var(--container-color);
  position: static;
  width: auto;
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
  color: var(--black);
}

.rating-title {
  position: static;
  background: var(--container-color);
  font-size: 24px;
  line-height: 28px;
  color: var(--black);
}

input {
  font-size: 20px;
  line-height: 20px;
  background: var(--container-color);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.no-outline:focus {
  outline: none;
}

.error {
  color: red;
  font-size: 14px;
}

.display-rate{
  font-weight: lighter;
  font-size: 25px;
  background: var(--container-color);
}
