*{
    background: #E5E5E5;
}

.homePage{
    position: relative;
    width: 1020px;
    height: 1169px;
    background: #FFFFFF;
}

.home-heading{
position: absolute;
width: 564px;
height: 52px;
left: 223px;
top: 118px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 44px;
line-height: 52px;
/* identical to box height */


color: #000000;
}